<section id="contact" class="contact-section">

  <div class="contact-container">


    <div class="contact-info">

      <div class="info-box">
        <h4>SITE ADDRESS</h4>
        <p>Ajivali Panvel, NH 48, Maharashtra 410221</p>
      </div>

      <div class="info-box">
        <h4>CALL US</h4>
        <p>+91 9987454526</p>
      </div>

      <div class="info-box">
        <h4>EMAIL</h4>
        <p>sales@urbancrest.com</p>
      </div>

    </div>



    <form class="contact-form">

      <input
        type="text"
        placeholder="Your Name"
      />

      <input
        type="text"
        placeholder="Phone Number"
      />

      <input
        type="email"
        placeholder="Email Address"
      />

      <select>
        <option selected disabled>
          Select Configuration
        </option>
        <option>2 BHK Configuration</option>
        <option>3 BHK Configuration</option>
      </select>

      <button type="button">
        SUBMIT MESSAGE
      </button>

    </form>

  </div>

</section>
