.about {
  background: #f7f7f7;
  padding: 80px 20px;
}

.container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.about h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}
