.video-section {
  padding: 100px 8%;
  background: #ffffff;
}

.video-container {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 60px;
  align-items: center;
}



.sub-title {
  font-size: 14px;
  letter-spacing: 1px;
  color: #999;
  margin-bottom: 10px;
}

.main-title {
  font-size: 32px;
  color: #c28a4b;
  margin-bottom: 20px;
}

.description {
  color: #555;
  line-height: 1.8;
  margin-bottom: 25px;
  font-size: 15px;
}

.price {
  font-size: 16px;
  margin-bottom: 15px;
}

.price span {
  color: #c28a4b;
  font-weight: 600;
}

.rera {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

.brochure-btn {
  background: #c28a4b;
  color: white;
  border: none;
  padding: 14px 28px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.brochure-btn:hover {
  background: #a8743c;
}



.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

.video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}



@media (max-width: 900px) {
  .video-container {
    grid-template-columns: 1fr;
  }
}
