body {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}


.fade-in {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
section {
  padding: 100px 8%;
}

h2 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 25px;
}

p {
  line-height: 1.7;
  color: #555;
}

.container {
  max-width: 1200px;
  margin: auto;
}
